<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List teacher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx"
          crossorigin="anonymous">
</head>
<body>
<div class="container-fluid">
    <div th:replace="fragments/navbar"></div>

    <div class="container py-4">
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Teacher list</h1>
                <a class="btn btn-warning" href="/teacher/create" role="button">Add teacher</a>
                <p></p>
                <div class="alert alert-success" role="alert" th:if="${messageType} == 'success'">
                    <span th:text="${message}"></span>
                </div>
                <div class="alert alert-danger" role="alert" th:if="${messageType} == 'error'">
                    <span th:text="${message}"></span>
                </div>
                <div class="alert alert-info" role="alert" th:if="${teachers.size() == 0}">
                    <span>No teachers found!</span>
                </div>

                <table class="table table-dark" th:if="${teachers.size() > 0}">
                    <thead>
                    <th scope="col">#</th>
                    <th scope="col">Firstname</th>
                    <th scope="col">Lastname</th>
                    <th scope="col">Email</th>
                    <th scope="col">Actions</th>
                    </thead>
                    <tbody>
                    <tr th:each="teacher: ${teachers}">
                        <th scope="row">
                            <a href="#" class="text-decoration-none" th:href="@{/teacher/{id}(id=${teacher.id})}">
                                <span class="d-inline-block text-truncate" style="max-width: 70px;" th:text="${teacher.id}"></span>
                            </a>
                        </th>
                        <td th:text="${teacher.firstName}"></td>
                        <td th:text="${teacher.lastName}"></td>
                        <td th:text="${teacher.email}"></td>
                        <td>
                            <a class="btn btn-primary" role="button" th:href="@{/teacher/update/{id}(id=${teacher.id})}"
                               th:if="${teacher.isActive()}">
                                Update
                            </a>
                            <a class="btn btn-danger" role="button" th:href="@{/teacher/delete/{id}(id=${teacher.id})}"
                               th:if="${teacher.isActive()}">
                                Delete
                            </a>
                            <a class="btn btn-success" role="button" th:href="@{/teacher/restore/{id}(id=${teacher.id})}"
                               th:if="${!teacher.isActive()}">
                                Restore
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/script-fragment"></div>
</body>
</html>